body{
	background-color:#000000;
}

a{
	text-decoration:none;
}

#wrapper{
	width:990px;
	margin:auto;
}

#logo{
	margin:0;
	/*margin-bottom:10px;*/
	padding:5px;
	width:100%;
}

#logo h3{
	margin:-30px 0px 0px 0px;
	padding:0;
	text-align:center;
	font-family:"Georgia","Trebuchet MS",Arial,sans-serif;
	font-weight:bold;
	font-size:1.5em;
	color:#2f2011;
}

#header{
	position:relative;
	background-color:#f2efec;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	margin-bottom:0px;
}
#flags{
	margin:0;
	padding:0;
	width:70px;
	position:absolute;
	top:3px;
	right:0;
}
#flags ul{
	margin:0;
	padding:0;
}
#flags ul li{
	list-style:none;
	display:inline;
}
#top-navigation{
	margin:0;
	background-color:#eaa501;
	padding:7px;
	padding-left:0px;
}
#top-navigation ul{
	margin:0;
	padding:0;
}
#top-navigation ul li{
	list-style:none;
	display:inline;
	margin:0;
	padding:0;
}

#top-navigation ul li a.item{
	padding:10px 20px 10px 20px;
	text-transform:uppercase;
	color:#000000;
	font-weight:bold;
}

#top-navigation ul li a.item:hover{
	background-color:#000000;
	color:#ffffff;
}
#top-navigation ul input{
	font-size:12px;
	font-style:italic;
}
#main{
	margin:auto;
	text-align:center;
	background-color:#f2efec;
	padding:10px;
	font-family:"Georgia";
	/*font-weight:bold;*/
}

.left-align{
	text-align:left;
}
#main ol{
	text-align:left;
}
#main a{
	color:#01a4e8;
}
.pink{
	color:#f80bdf !important;
}
#main a:hover{
	text-decoration:underline;
}
.left-align{
	text-align:left !important;
}
#featured{
	margin:5px 5px 5px 130px;
	padding:5px;
	border:5px solid #EAA501;
	width:650px;
	min-height:400px;
}


#social{
	background-color:#EAA501;
	padding:5px 0px 4px 2px;
}
#social h3{
	text-align:center;
	font-weight:bold;
	margin:2px;
}
#social a{
	font-weight:bold;
	font-size:1.1em;
}
#social a:hover{
	color:#ffffff !important;
}
#social table{
	width:100%;
}
.icon{
	width:32px;
}
#fb{
	color:#002271 !important;
}
#tweet{
	color:#a2dede;
}
#space{
	color:#16348c;
}
#google:hover{
	color:#ffffff !important;
}
.blue-g{
	color:#163e93;
}
.red-oe{
	color:#ad1804;
}	
.green-l{
	color:#109015;
}
.yellow-o{
	color:#fed70d;
}

#footer{
	background-color:#F2EFEC;
	padding:5px;
	min-height:180px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.footer_column{
	width:230px;
	float:left;
}
.footer_column h4, .footer_column ul{
	text-align:center;
}
.footer_column h4{
	margin-top:3px;
}
.footer_column ul li{
	list-style:none;
}
.footer_column  a:hover{
	text-decoration:underline;
}
#copyright {
	clear:both;
	text-align:left;
	width:100%;
	font-size:.8em;
	font-weight:bold;
}
table.categories  tr{
	border-spacing:15pt;
}
.categories tr td{
	padding:10px;
	border:3px solid #EAA501;
}

.categories{
	margin-left:130px;
}
table.products tr{
	margin-bottom:10px;
}
table.products tr td{
	padding:7px;
	border:3px solid #EAA501;
}
tr.separator{
	height:10px;
}
.page ul li{
	list-style:none;
	display:inline;
	padding:7px;
}
.page{
	text-align:center;
}
.button{
	border:1px solid #e9e9e9;
	padding:5px 10px;
	cursor:pointer;
	background-color:#7fb6f9;
	font-weight:bold;
	border-radius:5px;
}
.button:hover{
	background-color:#ffc703;
	color:#FFFFFF;
}
#contact{
	width:100%;
}
#login{
	border-right:5px solid #000000;
}
#light-blue{
	background-color:#0000FF;
}
#red{
	background-color:#FF0000;
}
#dark-green{
	background-color:#008000;
}
#dark-blue{
	background-color:#000080;
}
#black{
	background-color:#000000;
}
#yellow{
	background-color:#FFFF00;
}
#pink{
	background-color:#FF00FF;
}
#soft-blue{
	background-color:#00FFFF;
}
#green{
	background-color:#00FF00;
}
#dark-red{
	background-color:#810000;
}
#fof{
	background-color:#808000;
}
#orange{
	background-color:#FF6600;
}
#colors{
	width:100%;
	height:90px;
}
#colors tr td:hover{
	cursor:pointer;
}